## API - PHP
#
## restrict directory access
Options -Indexes
#
## error pages
# bad-request
ErrorDocument 400 /error/?e=400
# unauthorised
ErrorDocument 401 /error/?e=401
# forbidden
ErrorDocument 403 /error/?e=403
# file-not-found
ErrorDocument 404 /error/?e=404
# internal-server-error
ErrorDocument 500 /error/?e=500
